<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- css('styles/base.css') %>
    <%- css('styles/theme.css') %>
    <title><%- page&&page.title||'首页' %> - <%- config.title %></title>
</head>
<body>
    <div class="header-title">
        <span class="header-light"></span>
        <span class="header-light"></span>
        <span class="header-light"></span>
        <span><%- config.title %> <%- config.url.replace(/https?:\/\//, '')%><span>
    </div>
    <div class="container">
        <ul class="nav">
        <% for ( menu in theme.menus ) { %>
            <li><a href="<%- theme.menus[menu] %>"><%- menu %></a></li>
        <% } %>
        </ul>
        <div class="content">
            <%- body %>
        </div>
        <div class="footer">
            <% for ( foot in theme.footers ) { %>
                <a href="<%- theme.footers[foot] %>"><%- foot%></a>
            <% } %>
        </div>
    </div>
</body>
</html>
